@model IEnumerable<Projekt_WypozyczalniaFilmow.Models.Lend>

@{
    ViewData["Title"] = "Index";
}

<div class="row movies-header d-flex">
    <div class="col-12 ">
        <a class="nav-link logo" asp-controller="Home" asp-action="Index">Logo</a>
    </div>
</div>
<h1>Lends</h1>

<div class="row">
<table class="table">
    <thead>
        <tr class="table-tr">
            <th scope="col-auto">@Html.DisplayNameFor(model => model.User)</th>
            <th scope="col-auto">@Html.DisplayNameFor(model => model.Movie)</th>
            <th scope="col-auto"> @Html.DisplayNameFor(model => model.RentDate)</th>
            <th scope="col-auto">@Html.DisplayNameFor(model => model.ReturnDate)</th>
            <th scope="col-auto"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.User.LastName)</td>
            <td>@Html.DisplayFor(modelItem => item.Movie.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.RentDate)</td>
            <td>@Html.DisplayFor(modelItem => item.ReturnDate)</td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
