@model Projekt_WypozyczalniaFilmow.Models.Film

@{
    ViewData["Title"] = "Film";
}

<h1>Film</h1>
<p>@Model.id</p>
<p>@Model.name</p>
<p>@Model.price</p>
<p>@Model.category</p>
<p>@Model.description</p>
