@model IEnumerable<Projekt_WypozyczalniaFilmow.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<div class="row movies-header d-flex">
    <div class="col-12 ">
        <a class="nav-link logo" asp-controller="Home" asp-action="Index">Logo</a>
    </div>
</div>
<div class="col-12 form-group pt-5 pb-5">
    <form class="row" asp-controller="Movies" asp-action="Index" method="GET">
        <div class="col-10">
            <label class="visually-hidden control-label" id="inputName">Name: </label>
            <input type="text" class="form-control" id="inputName" name="name" value="@(Context.Request.Query["name"])" />
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary mb-3">Search</button>
        </div>
    </form>
    @if (@Context.Session.GetInt32("role") == (int)PermissionRole.Admin)
    {
        <div class="row">
            <a class="btn btn-primary" asp-action="Create">Create New</a>
        </div>
    }
</div>

<table class="table">
    <thead>
        <tr class="table-tr">
            <th class="col-2">@Html.DisplayNameFor(model => model.Name)</th>
            <th class="col-1">@Html.DisplayNameFor(model => model.Price) (for day)</th>
            <th class="col-">@Html.DisplayNameFor(model => model.Description)</th>
            <th class="col-2"> @Html.DisplayNameFor(model => model.Categories)</th>
            <th class="col-2"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.Categories)</td>
                <td>
                    @if (@Context.Session.GetInt32("role") == (int)PermissionRole.Admin)
                    {
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    else if(@Context.Session.GetInt32("role") == (int)PermissionRole.User)
                        {
                                <a class="btn btn-primary" asp-controller="Lends" asp-action="Rent" asp-route-id="@item.Id">
                                    Wypożycz
                                </a>
                        } else
                    {
                            <a class="btn btn-primary" asp-controller="Lends" asp-action="Index" asp-route-id="@item.Id">
                                Nie ma wypożyczania bez zalogowania :)
                            </a>
                    } 
                </td>
            </tr>
        }
    </tbody>
</table>
